<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bank Churners</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" />

</head>

<body>
    <div id="booking" class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins main-bg">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div style="color: white; font-size: 30px; text-align: center;">This app to predict if the
                            client will leave our service or not</div>
                        <form action="/predict" method="GET">
                            <div class="form-group">
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">Age</span>
                                        <input class="form-control" type="Number" placeholder="Age" name="age" min="18" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">Gender</span>
                                        <select name="gender" class="form-control" required>
                                            <option value="1">Male</option>
                                            <option value="0">Female</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">Education level</span>
                                        <select name="education" class="form-control">
                                            <option value="uneducated">Uneducated</option>
                                            <option value="high-school">High School</option>
                                            <option value="college">College</option>
                                            <option value="graduate">Graduate</option>
                                            <option value="post-graduate">Post-Graduate</option>
                                            <option value="doctorate">Doctorate</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Marital Status</span>
                                        <select name="marital" class="form-control" required>
                                            <option value="Single">Single</option>
                                            <option value="Married">Married</option>
                                            <option value="Divorced">Divorced</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Number of dependent</span>
                                        <input class="form-control" type="Number" placeholder="Count"
                                            name="Dependent_count" min="0" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Income</span>
                                        <select name="income" class="form-control" required>
                                            <option value="Less than $40K">Less than $40K</option>
                                            <option value="$40K - $60K">$40K - $60K</option>
                                            <option value="$60K - $80K">$60K - $80K</option>
                                            <option value="$80K - $120K">$80K - $120K</option>
                                            <option value="$120K +">$120K +</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Type of Card</span>
                                        <select name="card_type" class="form-control" required>
                                            <option value="Blue">Blue</option>
                                            <option value="Silver">Silver</option>
                                            <option value="Gold">Gold</option>
                                            <option value="Platinum">Platinum</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">How many months in our service</span>
                                        <input class="form-control" type="number" placeholder="Count"
                                            name="Months_on_book" min="0" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">Total no. of products held by customer</span>
                                        <input class="form-control" type="number" placeholder="Count"
                                            name="Total_Relationship_Count" min="0" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">No. of months inactive</span>
                                        <input class="form-control" type="number" placeholder="Count"
                                            name="Months_Inactive_12_mon" min="0" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">No. of Contacts</span>
                                        <input class="form-control" type="number" placeholder="Count"
                                            name="Contacts_Count_12_mon" min="0" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Credit Limit on Card</span>
                                        <input class="form-control" type="number" placeholder="Amount"
                                            name="Credit_Limit" min="0.0" step="any" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Revolving Balance on Card</span>
                                        <input class="form-control" type="number" placeholder="Amount"
                                            name="Total_Revolving_Bal" min="0" step="any" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Open to Buy Credit Line</span>
                                        <input class="form-control" type="number" placeholder="Average"
                                            name="Avg_Open_To_Buy" min="0" step="any" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">Change in Transaction Amount</span>
                                        <input class="form-control" type="number" placeholder="Amount"
                                            name="Total_Amt_Chng_Q4_Q1" min="0" step="any" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">Total Transaction Amount</span>
                                        <input class="form-control" type="number" placeholder="Amount"
                                            name="Total_Trans_Amt" min="0" step="any" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">Total Transaction Count</span>
                                        <input class="form-control" type="number" placeholder="Count"
                                            name="Total_Trans_Ct" min="0" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Change in Transaction Count</span>
                                        <input class="form-control" type="number" placeholder="Count"
                                            name="Total_Ct_Chng_Q4_Q1" min="0" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Average Card Utilization Ratio</span>
                                        <input class="form-control" type="number" placeholder="Average"
                                            name="Avg_Utilization_Ratio" min="0.0" step="any" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="form-btn">
                                        <button type="submit" class="submit-btn"
                                            style="font-size: larger;">Predict</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <hr>

                        {% if prediction %}
                        <h3 style="text-align: center; color: white;">The Client will <span
                                style="color:#f23e3e; font-size:xx-large;">{{ prediction }}</span></h3>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>